# import libraries and load the dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
comp=pd.read_csv("C:\\Users\\DELL\\Downloads\\DS- Data Sets\\Multi linear regression\\Computer_Data.csv")
comp.head()

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [3]:
#rename the columns
df=pd.DataFrame(comp)
df.head()

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [7]:
df.rename(columns = {'Unnamed: 0' : 'unnamed'}, inplace = True)
df.rename

<bound method DataFrame.rename of       unnamed  price  speed    hd  ram  screen   cd multi premium  ads  trend
0           1   1499     25    80    4      14   no    no     yes   94      1
1           2   1795     33    85    2      14   no    no     yes   94      1
2           3   1595     25   170    4      15   no    no     yes   94      1
3           4   1849     25   170    8      14   no    no      no   94      1
4           5   3295     33   340   16      14   no    no     yes   94      1
...       ...    ...    ...   ...  ...     ...  ...   ...     ...  ...    ...
6254     6255   1690    100   528    8      15   no    no     yes   39     35
6255     6256   2223     66   850   16      15  yes   yes     yes   39     35
6256     6257   2654    100  1200   24      15  yes    no     yes   39     35
6257     6258   2195    100   850   16      15  yes    no     yes   39     35
6258     6259   2490    100   850   16      17  yes    no     yes   39     35

[6259 rows x 11 columns]>

In [8]:
comp.drop(comp.index[[unnamed]],axis==1)

NameError: name 'unnamed' is not defined

In [ ]:
comp.info()

In [ ]:
comp.describe()

In [ ]:
comp.corr()

In [ ]:
import seaborn as sns
# set the background style of the plot
#Price is dependent variable
sns.set_style('whitegrid',{'axes.grid' : False})
sns.distplot(comp['price'],bins=20)

In [ ]:
#pairplot to check linearity of dependent and independent variables
sns.set_style('whitegrid',{'axes.grid' : False})
sns.pairplot(comp)